*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

:root{
    --main-yellow-color: FFE60A;

}

::-webkit-scrollbar{
    width: .5em;

}

::-webkit-scrollbar-track{
    background-color: rgba(155, 155, 155, 0.6);
    border-radius: 100vw;
    margin-block: .5em;
}


::-webkit-scrollbar-thumb{
    background-color: #FFE60A;
    border-radius: 100vw;
}

body{
    height:80vh ;
}

.header{
    min-height: 8vh;
    min-width: 100%;
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 999;
    position: fixed;
    
}

    .header a {

        font-size: 1em;
        font-family:  "Roboto Mono",sans-serif;
        max-width: 75%;
        margin-top: 3vh;
        color: black;
        text-decoration: none;
        
        }

        a:hover {
            color:rgb(132, 0, 255)
        }

p {
    font-size: 0.2em;
    font-family:  "Roboto Mono",sans-serif;
    text-decoration: none;
}

h1{
    font-family: "Roboto Mono",sans-serif;
    font-size: 3.3rem;

}

h4{
    font-family: "Roboto Mono",sans-serif;
    font-size: 6rem;

}

.hero-container {
    /*background-color: rgba(255, 255, 255, 0.85);*/
    height: 500vh; /*this needs to be bigger to allow space for the footer*/
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;


}



 .landing-container{

     min-width: 100%;
     width: 100%;
     max-width: 100%;
     height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

     flex-wrap: wrap;
    flex-basis: 100%;

     scroll-snap-align: center;
    overflow: hidden;

}

 .read-more{
    background-color: #FFE60A;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-flow: column;
    transition: all 0.4s ease-in;      
 }

 .read-more2{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
   transition: all 0.4s ease-in;      
}

.read-more3{
    background-color:#FFE60A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
   transition: all 0.4s ease-in;      
}

.read-more4{
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
   transition: all 0.4s ease-in;      
}

 .read-more p{
     font-family: "Roboto Mono",sans-serif;
  
 }

.slider{
    width: 100%;
    height: 100%;

}

.slider section{
    width: 100%;
    height: 100%;
    min-height: 100%;

}

.description-box {
    width: 70vh;
    align-self: right;
    color: white;
    font-family: "Roboto Mono",sans-serif;
    position: relative;
    left: 20vh;
    font-size: 0.9em;
}

/*.outro{*/
/*    background-color: #E5E5E5;*/
/*    width: 100%;*/
/*    height: available;*/
/*}*/


#canv {
    position: fixed;
    left: 0;
}
.controls  {
    display: flex;
    justify-content: right;
    width: 80%;
   position: absolute;
}

.arrow-left{
    cursor: pointer;
    cursor: pointer;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 4px solid #000000;
    border-left: 0;
    border-top: 0;
    transform: rotate(130deg);

}
.arrow-right{
    cursor: pointer;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 4px solid #000000;
    border-left: 0;
    border-top: 0;
    transform: rotate(310deg);
    position: relative;
    left: 2vh;
    top: 1vh;
    
}

.arrow-right:hover {
    border-color: rgb(132, 0, 255);

}

.arrow-left:hover {
    border-color: rgb(132, 0, 255);

}

h2 {

font-size: 1em;
font-family:  "Roboto Mono",sans-serif;
max-width: 75%;
margin-bottom: 2vh;

}


.footer {
    min-height: 10vh;
    min-width: 100%;
    background-color: rgb(189, 189, 189);
    display: flex;
    justify-content: right;
    align-items: center;
    }

    .footer h3 {

        font-size: 1.5em;
        font-family:  "Roboto Mono",sans-serif;
        max-width: 75%;
        margin-right: 2vh;
        
        }
    



