@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');


@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) {
}

html { overflow-x: hidden; overflow-y: hidden;
  background: url(img/brick-wall.jpg);
  background-size: 500px 844px;
  background: cover;

}  

.circle {
 width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 5vw;
  border-color: white;
  border-width: 2vw;
  border-style: solid;
  background-color: black;

}

body {
    margin:auto;
    overflow-x: hidden;

  }

  .title {
      color: white;
      margin-left: 30%;
      margin-right: 30%;
      text-align: center;
      position: relative;
      bottom: 20%;
      

}

  .wrapper {
    height: 100%;
    width: 79%;
    transform: perspective(450px) rotateX(30deg);
    overflow-y: scroll;
    overflow-x: hidden;
    border-left: 10vw;
    border-right: 10vw;
    border-color: rgb(143, 143, 143);
    border-top-style: solid;
    border-top-width: 2vw;
    border-top-color: rgb(0, 0, 0);
    border-style: solid;
    box-shadow: 0px 10px 10px rgb(19, 19, 19);
    position: fixed;
    top: 35.5vh;
    

  }
  .scroll-text {
    color: #1f1f1f;
    font-weight: bold;
    text-align: justify;
  }

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 12vw;
    margin-top: 10%;
    line-height: 5vh
}
  
h2 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 800;
    font-size: 6vw;
    color: rgb(37, 37, 37);
    background:rgb(143, 143, 143) ;

  }
  

p { 
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 4vw;
    line-height: 1.4em;
    margin-left: 10%;
    margin-right: 10%;
    background-size: 4vw;
    color: white;

}

.semi-circle{
    position: fixed;
    top: 42vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 50vw;
    width: 70vw;
    border-radius: 35vw 35vw 0 0;
    border-color: rgb(61, 61, 61);
    background-color: rgb(0, 0, 0);
    border-width: 3vw;
    border-bottom: 0pt;
    border-style: dashed;
    }

    .background{
  background-color: black; 
  z-index: 999;
      }
  