@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&display=swap');

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
}

html { overflow-x: hidden;

}  

.intro-block {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    
}

.author {
    color: white;
    font: 3vw;

}

body {
    background: rgb(255, 0, 0);
    overflow-y: scroll;
    margin: auto;
    overflow-x: hidden;

  }

  .wrapper {
    height: 50%;
    width: 80%;
    margin: 0 0 0% 10%;
    transform: perspective(450px) rotateX(30deg);
    overflow-y: scroll;
    background-color: rgb(39, 39, 39);
    overflow-x: hidden;

  }
  .scroll-text {
    color: #ffffff;
    font-weight: bold;
    text-align: justify;
    position: relative;
    

  }

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 10vw;
    margin-top: 10%;
    line-height: 5vh
}
  
h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 800;
    font-size: 6vw;
    margin-left: 5%;
    margin-right: 5%;

  }
  
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 3vw;
    line-height: 1.4em;
    margin: 5%;
}

p { 
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 3vw;
    line-height: 1.4em;
    margin: 10%;
    background-color: rgb(233, 10, 10);
}

.semi-circle{
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vw;
    width: 62vw;
    border-radius: 30vw 30vw 0 0;
    border-style:dashed;
    border-color: rgb(122, 122, 122);
    background-color: rgb(22, 22, 22);
    border-width: 2vw;
    border-bottom: 0pt;
    float: center;
    z-index: 1;
    position: relative;
    }